head
    base(href='/')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="http://codemirror.net/theme/monokai.css", rel="stylesheet", type="text/css")
    
body
    #container.container-fluid(data-ng-app='amw')
        main#main.row

            //- sidebar
            nav#sidebar.col-md-3(
                    tabindex='-1',
                    role='navigation',
                    data-ng-controller="AmwSidebarCtrl as vm")
                include client/components/sidebar/sidebar.template.include.jade

            //- header and content
            article#article.col-md-9(role='article', tabindex='-1')
                header#article-header.header(
                        tabindex="-1",
                        role='header',
                        data-ng-controller="AmwHeaderCtrl as vm")
                    include client/components/header/header.template.include.jade
                #article-content(
                        tabindex="-1",
                        role='content')
                    div(data-ui-view='content')

        footer#footer(role='footer')
            .footer(data-ng-include="'footer-static.template.html'")

    script(src="http://codemirror.net/mode/markdown/markdown.js")
