head
    base(href='/')
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(href="http://codemirror.net/theme/ttcn.css", rel="stylesheet", type="text/css")
    
body
    #container.container-fluid(data-ng-app='amw')
        #container-inner.row

            //- sidebar
            #sidebar.col-md-3(
                    tabindex='-1',
                    role='navigation',
                    data-ng-controller="AmwSidebarCtrl as vm")

                #sidebar-header.header(
                        tabindex="-1",
                        role='navigation-header')
                    include client/components/sidebar/sidebar-header.template.include.jade

                #sidebar-content(
                        tabindex="-1",
                        role='navigation-content')
                    include client/components/sidebar/sidebar-content.template.include.jade

            //- header and content
            #main.col-md-9(
                    tabindex='-1'
                    role='main')

                #main-header.header(
                        tabindex="-1",
                        role='header',
                        data-ng-controller="AmwHeaderCtrl as vm")
                    include client/components/header/header.template.include.jade
                
                #main-content(
                        tabindex="-1",
                        role='article')

                    div(data-ui-view='content')

        footer#footer(role='footer')
            .footer(data-ng-include="'footer-static.template.html'")

    script(src="http://codemirror.net/mode/markdown/markdown.js")
