include client/lib/mixins/form.mixins.include.jade

//- ****************************************************************************

div(data-ng-if="'forgot' === vm.strStep")
    h2 {{ 'authentication.title.ForgotPassword' | translate }}
    form#form-forgot-password.well(
            name="formForgotPassword",
            method="POST",
            data-ng-submit="vm.forgotPassword()")

        .row
            .col-sm-12
                fieldset
                    +inputText('vm.strEmail', 'vm.objErrs.strEmail',
                            'authentication.Email', 'forgot-password-email',
                            'forgotPasswordEmail', '', '10', '')
                .errorField
                    +errorHandler('strEmail')

        .vmargin-1rem
        .row
            .col-xs-12.right
                fieldset
                    button.btn.btn-primary(tabindex="20")
                        |{{ 'authentication.title.ForgotPassword' | translate }}


//- ****************************************************************************

div(data-ng-if="'reset' === vm.strStep")
    h2 {{ 'authentication.title.ResetPassword' | translate }}
    form#form-reset-password.well(
            name="formResetPassword",
            method="POST",
            data-ng-submit="vm.resetPassword()")

        .row
            .col-sm-12
                fieldset
                    +inputPassword('vm.objData.strPassword', 
                            'vm.objErrs.strPassword',
                            'authentication.PasswordNew',
                            'reset-password',
                            'forgotPassword',
                            '',
                            '10',
                            'vm.isInvalid(\'strPassword\')',
                            true)
                .errorField
                    +errorHandler('strPassword')

        .vmargin-2rem
        .row
            .col-sm-12
                fieldset
                    +inputPassword('vm.objData.strPasswordConfirmation',
                            'vm.objErrs.strPasswordConfirmation',
                            'authentication.PasswordConfirmation',
                            'reset-password-confirmation',
                            'forgotPasswordPasswordConfirmation',
                            '',
                            '20',
                            'vm.isInvalid(\'strPasswordConfirmation\')',
                            true)
                .errorField
                    +errorHandler('strPasswordConfirmation')
        
        .vmargin-2rem
        .row
            .col-xs-12.right
                fieldset
                    button.btn.btn-primary(tabindex="30")
                        |{{ 'authentication.title.ResetPassword' | translate }}
