
div(data-ng-if="!vm.isEditActive")
    h6 {{ vm.objPageView.title }}
    //- h2(data-ng-bind="vm.objPageView.title")
    div(data-ng-bind-html="vm.objPageView.content")

div(data-ng-if="vm.isEditActive")
    h6 {{ vm.objPageEdit.title }}
    h2 {{ 'pages.EditPage' | translate }}
    form(name="formPageEdit")
        fieldset
            label(for="page-edit-title")
                |{{ 'pages.Title' | translate }}
            input.form-control(
                    type="text",
                    id="page-edit-title",
                    name="formPageEditTitle",
                    data-ng-model="vm.objPageEdit.title")
        fieldset
            label(for="page-edit-content")
                |{{ 'pages.Content' | translate }}
            textarea.form-control(
                    id="page-edit-content",
                    name="formPageEditTitle",
                    data-ng-model="vm.objPageEdit.content",
                    data-ui-codemirror,
                    data-ui-codemirror-opts="vm.editorOptions")
        fieldset
            span
                button.btn.btn-success(
                        data-ng-click="vm.pageUpdate()")
                    i.fa.fa-lg.fa-floppy-o
                    |&nbsp;
                    |{{ 'common.Save' | translate }}
                button.btn.btn-success(
                        data-ng-click="vm.pageUpdate(true)")
                    i.fa.fa-lg.fa-floppy-o
                    |&nbsp;
                    |{{ 'common.SaveAndReturn' | translate }}
            span(data-ng-if="!vm.isFirstEdit")
                button.btn.btn-danger
                    i.fa.fa-lg.fa-undo
                    |&nbsp;
                    |{{ 'common.Reset' | translate }}
                button.btn.btn-warning(
                        data-ng-click="vm.pageEditClose()")
                    i.fa.fa-lg.fa-ban
                    |&nbsp;
                    |{{ 'common.Cancel' | translate }}
