div(data-ng-if="!vm.flags.isEditActive")
    h6 {{ vm.objPage.title }} 
        span.lower ({{ vm.objPage.name }})
    div(data-ng-bind-html="vm.objPage.content")

    .vmargin-2rem
    hr
    .right
        |{{ 'common.createdBy' | translate }} 
        strong {{ vm.objPage.createdBy.username }} 
        |{{ 'common.at' | translate }} 
        strong {{ vm.objPage.createdAt | date }}
        |&nbsp;&nbsp;&#9679;&nbsp;
        |{{ 'common.lastUpdatedBy' | translate }} 
        strong {{ vm.objPage.updatedBy.username }} 
        |{{ 'common.at' | translate }} 
        strong {{ vm.objPage.updatedAt | date }}

div(data-ng-if="vm.flags.isEditActive")
    h6 {{ vm.objPageEdit.title }} 
        span.lower ({{ vm.objPage.name }})
    h2 {{ 'pages.EditPage' | translate }}
    form(name="vm.formPageEdit")
        fieldset.form-group
            label(for="page-edit-name")
                |{{ 'pages.Name' | translate }}:
            input.form-control(
                    type="text",
                    id="page-edit-name",
                    name="formPageEditName",
                    data-ng-model="vm.objPageEdit.name")
        fieldset.form-group
            label(for="page-edit-title")
                |{{ 'pages.Title' | translate }}:
            input.form-control(
                    type="text",
                    id="page-edit-title",
                    name="formPageEditTitle",
                    data-ng-model="vm.objPageEdit.title")
        fieldset.form-group
            label(for="page-edit-content")
                |{{ 'pages.Content' | translate }}:
            textarea.form-control(
                    id="page-edit-content",
                    name="formPageEditTitle",
                    data-ng-model="vm.objPageEdit.content",
                    data-ui-codemirror,
                    data-ui-codemirror-opts="vm.editorOptions")
        fieldset.form-group
            button.btn.btn-success(
                    data-ng-disabled="vm.formPageEdit.$pristine && !vm.flags.isEditCopy",
                    data-ng-click="vm.pageUpdate()")
                i.fa.fa-lg.fa-floppy-o
                |&nbsp;
                |{{ 'common.Save' | translate }}
            button.btn.btn-success(
                    data-ng-disabled="vm.formPageEdit.$pristine && !vm.flags.isEditCopy",
                    data-ng-click="vm.pageUpdate(true)")
                i.fa.fa-lg.fa-floppy-o
                |&nbsp;
                |{{ 'common.SaveAndReturn' | translate }}
            button.btn.btn-danger(
                    data-ng-disabled="vm.formPageEdit.$pristine",
                    data-ng-click="vm.pageReset()")
                i.fa.fa-lg.fa-undo
                |&nbsp;
                |{{ 'common.Reset' | translate }}
            button.btn.btn-warning(
                    data-ng-disabled="vm.flags.isEditFirst",
                    data-ng-click="vm.pageEditClose()")
                i.fa.fa-lg.fa-ban
                |&nbsp;
                |{{ 'common.Cancel' | translate }}
